<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        tools:targetApi="31">
        <activity
            android:name=".LoginSignup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Messages.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".Messages.GeneralMessageViewerActivity"
            android:exported="false"/>
        <activity
            android:name=".ProfilesActivity"
            android:exported="false" />
        <service
            android:name=".WebSocketService"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".SellActivity"
            android:exported="false" />
        <activity
            android:name=".ListingsActivity"
            android:exported="false" />
        <activity android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".Messages.FriendsActivity"
            android:exported="false"/>
        <activity
            android:name=".Admin.AdminDashboardActivity"
            android:exported="false"/>
        <activity
            android:name=".Admin.AdminSettingsActivity"
            android:exported="false"/>
        <activity
            android:name=".Admin.AdminProfilesActivity"
            android:exported="false"/>
        <activity
            android:name=".Messages.GroupListActivity"
            android:exported="false"/>
        <activity
            android:name=".Reporting.ReportUserActivity"
            android:exported="false"/>
        <activity
            android:name=".FavoritesActivity"
            android:exported="false"/>
        <activity
            android:name=".Messages.CreateGroupActivity"
            android:exported="false"/>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.MyApp.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignup.LoginActivity"
            android:exported="false" />
    </application>
</manifest>